db_files
*.iml
.project
.classpath
.project.properties
gen/
tests/stress/gen/
WallpaperPicker/gen/
WallpaperPicker/.project.properties
bin/
.idea/
.gradle/
local.properties
gradle/*
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
build/
gradlew*
!gradlew
!gradlew.bat
.DS_Store
bootstraps.sh
bootstrap.sh
Launcher3-aosp16/
out/
*.apk
*.apks
*.aab
*.keystore
*.jks
